body{
  margin-top: 120px;
}

header{
  width: 100vw;
  height: 100px;
  background-color: #E44141;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
.logo{
  width: 180px;
}
.box-shadow{
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.75);
}